In [148]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [149]:
indicadores = [
    "NY.GNP.PCAP.CD",  # PIB per cápita
    "SP.DYN.LE00.IN",  # Esperanza de vida al nacer
    "SH.DYN.MORT",  # Mortalidad infantil
    "SE.ADT.LITR.ZS",  # Tasa de alfabetización
    "SE.XPD.TOTL.GD.ZS",  # Gasto en educación
    "SH.H2O.SAFE.ZS",  # Acceso a agua potable
    "SH.MED.BEDS.ZS",  # Acceso a servicios de salud
    "SL.UEM.TOTL.ZS",  # Desempleo
    "SP.DYN.TFRT.IN"  # Tasa de fecundidad
]

data = pd.read_csv('WDIData.csv')
indicadores_df = data.loc[data['Indicator Code'].isin(indicadores)]

In [150]:
data.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.196986,17.597176,18.034249,18.345878,18.695306,19.149942,19.501837,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.580066,6.786218,6.941323,7.096843,7.254828,7.460783,7.599289,NaN,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.857526,38.204173,38.303515,38.421813,38.482409,38.692053,38.793983,NaN,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.824950,33.744405,38.733352,40.092163,42.880977,44.073912,45.609604,NaN,NaN,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.485006,16.329765,24.372504,25.153292,27.227391,29.383000,30.163364,NaN,NaN,NaN
5,Africa Eastern and Southern,AFE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,66.146834,66.936479,68.977838,70.771730,71.692427,73.164863,73.775675,NaN,NaN,NaN
6,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.OL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
# Lista de países de América Latina
paises_latinoamerica = ['Antigua and Barbuda', 'Argentina', 'Bolivia', 'Brazil', 'Belize', 'Bahamas, The', 'Barbados', 'Chile', 'Colombia', 'Costa Rica', 'Cuba', 
 'Dominican Republic', 'Dominica', 'Ecuador', 'El Salvador', 'Grenada', 'Guatemala', 'Guyana', 'Haiti', 'Honduras', 'Jamaica', 'Mexico','Nicaragua', 'Panama', 'Paraguay',  
 'Peru', 'Puerto Rico', 'Suriname', 'St. Kitts and Nevis', 'St. Lucia', 'St. Vincent and the Grenadines', 'Trinidad and Tobago','Uruguay', 'Venezuela, RB',]

indicadores_latinoamerica = indicadores_df.loc[indicadores_df['Country Name'].isin(paises_latinoamerica)]
indicadores_latinoamerica.to_csv('indicadores_latinoamerica.csv')

In [153]:
indicadores_latinoamerica['Indicator Name'].unique()

array(['Fertility rate, total (births per woman)',
       'GNI per capita, Atlas method (current US$)',
       'Government expenditure on education, total (% of GDP)',
       'Hospital beds (per 1,000 people)',
       'Life expectancy at birth, total (years)',
       'Literacy rate, adult total (% of people ages 15 and above)',
       'Mortality rate, under-5 (per 1,000 live births)',
       'Unemployment, total (% of total labor force) (modeled ILO estimate)'],
      dtype=object)

In [154]:
indicadores_latinoamerica.reset_index(inplace=True)
indicadores_latinoamerica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           272 non-null    int64
 1   Country Name    272 non-null    object
 2   Country Code    272 non-null    object
 3   Indicator Name  272 non-null    object
 4   Indicator Code  272 non-null    object
 5   1960            127 non-null    float64
 6   1961            96 non-null     float64
 7   1962            116 non-null    float64
 8   1963            116 non-null    float64
 9   1964            117 non-null    float64
 10  1965            117 non-null    float64
 11  1966            118 non-null    float64
 12  1967            120 non-null    float64
 13  1968            122 non-null    float64
 14  1969            123 non-null    float64
 15  1970            166 non-null    float64
 16  1971            131 non-null    float64
 17  1972            129 non-null    float64
 18  1973            130 non-null    float64
 19  1974            132 non-null    float64
 20  1975            150 non-null    float64
 21  1976            134 non-null    float64
 22  1977            134 non-null    float64
 23  1978            131 non-null    float64
 24  1979            138 non-null    float64
 25  1980            164 non-null    float64
 26  1981            140 non-null    float64
 27  1982            146 non-null    float64
 28  1983            142 non-null    float64
 29  1984            148 non-null    float64
 30  1985            154 non-null    float64
 31  1986            146 non-null    float64
 32  1987            142 non-null    float64
 33  1988            138 non-null    float64
 34  1989            149 non-null    float64
 35  1990            179 non-null    float64
 36  1991            177 non-null    float64
 37  1992            177 non-null    float64
 38  1993            202 non-null    float64
 39  1994            184 non-null    float64
 40  1995            192 non-null    float64
 41  1996            211 non-null    float64
 42  1997            171 non-null    float64
 43  1998            184 non-null    float64
 44  1999            189 non-null    float64
 45  2000            207 non-null    float64
 46  2001            205 non-null    float64
 47  2002            208 non-null    float64
 48  2003            212 non-null    float64
 49  2004            206 non-null    float64
 50  2005            209 non-null    float64
 51  2006            209 non-null    float64
 52  2007            225 non-null    float64
 53  2008            214 non-null    float64
 54  2009            223 non-null    float64
 55  2010            229 non-null    float64
 56  2011            226 non-null    float64
 57  2012            228 non-null    float64
 58  2013            228 non-null    float64
 59  2014            236 non-null    float64
 60  2015            241 non-null    float64
 61  2016            235 non-null    float64
 62  2017            231 non-null    float64
 63  2018            214 non-null    float64
 64  2019            200 non-null    float64
 65  2020            197 non-null    float64
 66  2021            185 non-null    float64
 67  2022            30 non-null     float64
 68  Unnamed: 67     0 non-null      float64
dtypes: float64(64), int64(1), object(4)
memory usage: 146.8+ KB

In [155]:
indicadores_latinoamerica=indicadores_latinoamerica.drop([ '1960', '1961','1962','1963','1964','1965', '1966','1967', '1968','1969','1970',
                                                            '1971','1972','1973','1974','1975', '1976','1977', '1978','1979','1980',
                                                            '1981','1982','1983','1984','1985', '1986','1987', '1988','1989','1990'], axis=1)

In [156]:
porcentaje_nulos = indicadores_latinoamerica.isnull().mean(axis=1) * 100
filas_con_nulos = porcentaje_nulos[porcentaje_nulos >= 15].index
print(filas_con_nulos)

Int64Index([  2,   3,   5,   7,  10,  11,  13,  18,  19,  21,
            ...
            250, 251, 253, 258, 259, 261, 265, 266, 267, 269],
           dtype='int64', length=107)

In [157]:
indicadores_latinoamerica = indicadores_latinoamerica.drop(filas_con_nulos)

In [158]:
columnas_float = ['1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021', '2022']

indicadores_latinoamerica[columnas_float] = indicadores_latinoamerica[columnas_float].astype('float')

# Aplicar interpolación por fila
indicadores_latinoamerica[columnas_float] = indicadores_latinoamerica[columnas_float].interpolate(axis=1)

In [159]:
indicadores_latinoamerica['Indicator Name'].unique()

array(['Fertility rate, total (births per woman)',
       'GNI per capita, Atlas method (current US$)',
       'Life expectancy at birth, total (years)',
       'Mortality rate, under-5 (per 1,000 live births)',
       'Unemployment, total (% of total labor force) (modeled ILO estimate)',
       'Government expenditure on education, total (% of GDP)',
       'Hospital beds (per 1,000 people)'], dtype=object)

In [160]:
indicadores_latinoamerica.head(30)

,index,Country Name,Country Code,Indicator Name,Indicator Code,1991,1992,1993,1994,1995,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,81716,Antigua and Barbuda,ATG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2.036,2.126,2.036,2.069,2.159,...,1.526,1.567,1.458,1.485,1.371,1.468,1.569,1.580,1.580,NaN
1,81797,Antigua and Barbuda,ATG,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,7200.000,7440.000,7950.000,8470.000,8170.000,...,13230.000,13370.000,14170.000,15000.000,16680.000,17310.000,14530.000,15780.000,15780.000,NaN
4,81999,Antigua and Barbuda,ATG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,73.435,73.417,73.482,73.591,73.636,...,77.858,77.913,78.152,78.268,78.511,78.691,78.841,78.497,78.497,NaN
6,82098,Antigua and Barbuda,ATG,"Mortality rate, under-5 (per 1,000 live births)",SH.DYN.MORT,14.400,14.700,15.100,15.500,15.700,...,8.100,7.700,7.400,7.100,6.800,6.600,6.400,6.100,6.100,NaN
8,83194,Argentina,ARG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,3.012,2.987,2.966,2.935,2.864,...,2.312,2.301,2.241,2.168,2.039,1.994,1.911,1.885,1.885,NaN
9,83275,Argentina,ARG,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,3860.000,6060.000,7110.000,7600.000,7340.000,...,12350.000,12600.000,12220.000,13140.000,12430.000,11220.000,9010.000,9960.000,9960.000,NaN
12,83477,Argentina,ARG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,72.319,72.430,72.565,73.172,73.133,...,76.755,76.760,76.308,76.833,76.999,77.284,75.892,75.390,75.390,NaN
14,83576,Argentina,ARG,"Mortality rate, under-5 (per 1,000 live births)",SH.DYN.MORT,28.300,27.600,26.500,25.400,24.300,...,12.200,11.600,11.000,10.300,9.500,8.600,7.700,6.900,6.900,NaN
15,84198,Argentina,ARG,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,5.440,6.360,10.100,11.760,18.800,...,7.270,7.524,8.109,8.350,9.220,9.840,11.460,8.740,6.491,NaN
16,92062,"Bahamas, The",BHS,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2.604,2.793,2.728,2.482,2.504,...,1.673,1.576,1.496,1.426,1.412,1.398,1.394,1.389,1.389,NaN
17,92143,"Bahamas, The",BHS,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,10710.000,10900.000,10640.000,10880.000,13340.000,...,26840.000,27450.000,27610.000,29260.000,29810.000,31210.000,23500.000,26490.000,26490.000,NaN
20,92345,"Bahamas, The",BHS,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,69.616,70.668,70.656,70.851,70.763,...,73.366,73.104,73.537,73.632,73.806,71.205,72.677,71.598,71.598,NaN
22,92444,"Bahamas, The",BHS,"Mortality rate, under-5 (per 1,000 live births)",SH.DYN.MORT,22.400,21.400,20.400,19.400,18.500,...,14.100,13.900,13.800,13.600,13.500,23.400,13.300,13.200,13.200,NaN
23,93066,"Bahamas, The",BHS,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,12.170,14.810,12.720,13.830,10.830,...,13.800,12.000,12.700,9.800,10.000,10.051,12.867,11.665,10.056,NaN
24,96496,Barbados,BRB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1.733,1.728,1.725,1.725,1.727,...,1.620,1.614,1.613,1.615,1.619,1.623,1.628,1.633,1.633,NaN
25,96577,Barbados,BRB,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,7640.000,7540.000,7770.000,8100.000,8460.000,...,16050.000,16170.000,16350.000,16490.000,17020.000,17630.000,16230.000,16900.000,16900.000,NaN
28,96779,Barbados,BRB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,72.843,72.915,73.190,73.211,73.298,...,76.476,76.650,76.815,76.936,77.067,77.257,77.393,77.571,77.571,NaN
30,96878,Barbados,BRB,"Mortality rate, under-5 (per 1,000 live births)",SH.DYN.MORT,17.400,16.700,16.000,15.500,15.200,...,14.400,14.100,13.800,13.400,13.000,12.700,12.300,11.900,11.900,NaN
31,97500,Barbados,BRB,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,22.683,22.940,24.540,22.980,19.660,...,12.170,9.800,8.250,8.620,8.320,8.410,10.105,9.582,8.203,NaN
32,100930,Belize,BLZ,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.483,4.348,4.198,3.999,3.948,...,2.491,2.438,2.394,2.360,2.345,2.106,1.999,2.010,2.010,NaN
33,101011,Belize,BLZ,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,3020.000,3690.000,3840.000,3810.000,3900.000,...,5610.000,5770.000,5650.000,5520.000,5660.000,5890.000,5210.000,6070.000,6070.000,NaN
36,101213,Belize,BLZ,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,70.248,69.979,69.988,70.316,69.887,...,73.311,73.187,73.399,73.562,73.703,73.931,72.854,70.470,70.470,NaN
38,101312,Belize,BLZ,"Mortality rate, under-5 (per 1,000 live births)",SH.DYN.MORT,36.100,34.000,32.100,30.400,28.900,...,16.100,15.300,14.500,13.700,13.000,12.300,11.700,11.200,11.200,NaN
39,101934,Belize,BLZ,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,9.730,9.716,9.780,11.100,12.480,...,8.240,7.580,7.000,6.600,7.814,9.050,10.788,10.290,9.687,NaN
40,106842,Bolivia,BOL,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.810,4.713,4.592,4.494,4.409,...,2.947,2.886,2.829,2.777,2.730,2.688,2.651,2.618,2.618,NaN
41,106923,Bolivia,BOL,"GNI per capita, Atlas method (current US$)",NY.GNP.PCAP.CD,720.000,740.000,770.000,790.000,830.000,...,2780.000,2900.000,2970.000,3020.000,3290.000,3440.000,3120.000,3290.000,3290.000,NaN
44,107125,Bolivia,BOL,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,57.097,57.629,58.418,58.989,59.534,...,67.163,67.318,67.628,67.701,67.748,67.841,64.467,63.630,63.630,NaN
46,107224,Bolivia,BOL,"Mortality rate, under-5 (per 1,000 live births)",SH.DYN.MORT,116.700,112.100,107.400,102.800,98.300,...,33.300,31.600,30.200,28.900,27.700,26.600,25.600,24.700,24.700,NaN
47,107846,Bolivia,BOL,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,2.980,3.262,3.089,3.080,2.752,...,2.020,3.110,3.500,3.650,3.520,3.680,7.900,5.090,4.419,NaN
48,111276,Brazil,BRA,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2.815,2.719,2.672,2.617,2.579,...,1.767,1.777,1.709,1.736,1.749,1.703,1.649,1.641,1.641,NaN

In [161]:
indicadores_latinoamerica = indicadores_latinoamerica.loc[:, ~indicadores_latinoamerica.columns.str.contains('^Unnamed')]

indicadores_latinoamerica.to_csv('indicadores_latinoamerica.csv')