In [12]:
import pandas as pd
from geopy.geocoders import Nominatim
import numpy as np

In [2]:
data = pd.read_csv('indicadores_latinoamerica.csv')

In [3]:
data.head(10)

,Unnamed: 0,country,date,"GNI per capita, Atlas method (current US$)","Fertility rate, total (births per woman)","Life expectancy at birth, total (years)","Mortality rate, under-5 (per 1,000 live births)","Unemployment, total (% of total labor force) (modeled ILO estimate)"
0,1,Argentina,2021,9960.0,1.885,75.390,6.9,8.740
1,2,Argentina,2020,9010.0,1.911,75.892,7.7,11.460
2,3,Argentina,2019,11220.0,1.994,77.284,8.6,9.840
3,4,Argentina,2018,12430.0,2.039,76.999,9.5,9.220
4,5,Argentina,2017,13140.0,2.168,76.833,10.3,8.350
5,6,Argentina,2016,12220.0,2.241,76.308,11.0,8.109
6,7,Argentina,2015,12600.0,2.301,76.760,11.6,7.524
7,8,Argentina,2014,12350.0,2.312,76.755,12.2,7.270
8,9,Argentina,2013,12870.0,2.322,76.491,12.7,7.100
9,10,Argentina,2012,11890.0,2.330,76.467,13.3,7.220

In [4]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1088 entries, 0 to 1087
Data columns (total 8 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Unnamed: 0                                                           1088 non-null   int64
 1   country                                                              1088 non-null   object
 2   date                                                                 1088 non-null   int64
 3   GNI per capita, Atlas method (current US$)                           1074 non-null   float64
 4   Fertility rate, total (births per woman)                             1088 non-null   float64
 5   Life expectancy at birth, total (years)                              1088 non-null   float64
 6   Mortality rate, under-5 (per 1,000 live births)                      1056 non-null   float64
 7   Unemployment, total (% of total labor force) (modeled ILO estimate)  930 non-null    float64
dtypes: float64(5), int64(2), object(1)
memory usage: 68.1+ KB

In [5]:
porcentaje_nulos = data.isnull().mean(axis=1) * 100
filas_con_nulos = porcentaje_nulos[porcentaje_nulos >= 15].index
print(filas_con_nulos)

Int64Index([863, 895], dtype='int64')

In [6]:
data = data.drop(filas_con_nulos)

In [7]:
data.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
data.head(30)

,country,date,"GNI per capita, Atlas method (current US$)","Fertility rate, total (births per woman)","Life expectancy at birth, total (years)","Mortality rate, under-5 (per 1,000 live births)","Unemployment, total (% of total labor force) (modeled ILO estimate)"
0,Argentina,2021,9960.0,1.885,75.390,6.9,8.740
1,Argentina,2020,9010.0,1.911,75.892,7.7,11.460
2,Argentina,2019,11220.0,1.994,77.284,8.6,9.840
3,Argentina,2018,12430.0,2.039,76.999,9.5,9.220
4,Argentina,2017,13140.0,2.168,76.833,10.3,8.350
5,Argentina,2016,12220.0,2.241,76.308,11.0,8.109
6,Argentina,2015,12600.0,2.301,76.760,11.6,7.524
7,Argentina,2014,12350.0,2.312,76.755,12.2,7.270
8,Argentina,2013,12870.0,2.322,76.491,12.7,7.100
9,Argentina,2012,11890.0,2.330,76.467,13.3,7.220
10,Argentina,2011,10710.0,2.338,76.124,13.9,7.180
11,Argentina,2010,9270.0,2.346,75.721,14.5,7.710
12,Argentina,2009,7760.0,2.344,75.936,15.0,8.650
13,Argentina,2008,7630.0,2.341,75.641,15.4,7.840
14,Argentina,2007,6480.0,2.370,75.006,15.7,8.470
15,Argentina,2006,5460.0,2.400,75.433,16.1,10.080
16,Argentina,2005,4240.0,2.426,75.139,16.6,11.510
17,Argentina,2004,3360.0,2.430,74.855,17.1,13.520
18,Argentina,2003,3640.0,2.451,74.080,17.7,15.360
19,Argentina,2002,4020.0,2.493,74.408,18.3,19.590
20,Argentina,2001,6960.0,2.531,74.186,19.0,17.320
21,Argentina,2000,7430.0,2.591,73.926,19.7,15.000
22,Argentina,1999,7540.0,2.643,73.722,20.4,14.050
23,Argentina,1998,7990.0,2.662,73.474,21.3,12.650
24,Argentina,1997,8110.0,2.706,73.090,22.2,14.820
25,Argentina,1996,7700.0,2.781,73.307,23.2,17.110
26,Argentina,1995,7340.0,2.864,73.133,24.3,18.800
27,Argentina,1994,7600.0,2.935,73.172,25.4,11.760
28,Argentina,1993,7110.0,2.966,72.565,26.5,10.100
29,Argentina,1992,6060.0,2.987,72.430,27.6,6.360

In [13]:
paises_latinoamerica2 = ['Antigua and Barbuda', 'Argentina', 'Bolivia', 'Brazil', 'Belize', 'Bahamas', 'Barbados', 'Chile', 'Colombia', 'Costa Rica', 'Cuba', 
 'Dominican Republic', 'Dominica', 'Ecuador', 'El Salvador', 'Grenada', 'Guatemala', 'Guyana', 'Haiti', 'Honduras', 'Jamaica', 'Mexico','Nicaragua', 'Panama', 'Paraguay',  
 'Peru', 'Puerto Rico', 'Suriname', 'St. Kitts and Nevis', 'St. Lucia', 'St. Vincent and the Grenadines', 'Trinidad and Tobago','Uruguay', 'Venezuela']

# Crear un geocodificador
geolocator = Nominatim(user_agent="my_app")

# Lista para almacenar los datos de latitud y longitud
datos_geograficos = []

# Iterar sobre la lista de países
for pais in paises_latinoamerica2:
    try:
        # Geocodificar el país
        location = geolocator.geocode(pais)
        latitud = location.latitude
        longitud = location.longitude
        datos_geograficos.append({"País": pais, "Latitud": latitud, "Longitud": longitud})
    except:
        datos_geograficos.append({"País": pais, "Latitud": None, "Longitud": None})

# Crear un DataFrame con los datos geográficos
df_geografico = pd.DataFrame(datos_geograficos)

In [ ]:
df_geografico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   País      34 non-null     object
 1   Latitud   34 non-null     float64
 2   Longitud  34 non-null     float64
dtypes: float64(2), object(1)
memory usage: 944.0+ bytes

In [14]:
df_geografico = df_geografico.astype(str)
df_geografico.to_csv('datos_geograficos.csv')
data.to_csv('indicadores_latinoamerica_final.csv')